In [18]:
# load a simple dataset as a pandas DataFrame
from vega_datasets import data
dir(data)

['7zip',
 'airports',
 'anscombe',
 'barley',
 'birdstrikes',
 'budget',
 'budgets',
 'burtin',
 'cars',
 'climate',
 'co2_concentration',
 'countries',
 'crimea',
 'disasters',
 'driving',
 'earthquakes',
 'ffox',
 'flare',
 'flare_dependencies',
 'flights_10k',
 'flights_200k',
 'flights_20k',
 'flights_2k',
 'flights_3m',
 'flights_5k',
 'flights_airport',
 'gapminder',
 'gapminder_health_income',
 'gimp',
 'github',
 'graticule',
 'income',
 'iowa_electricity',
 'iris',
 'jobs',
 'la_riots',
 'londonBoroughs',
 'londonCentroids',
 'londonTubeLines',
 'lookup_groups',
 'lookup_people',
 'miserables',
 'monarchs',
 'movies',
 'normal_2d',
 'obesity',
 'points',
 'population',
 'population_engineers_hurricanes',
 'seattle_temps',
 'seattle_weather',
 'sf_temps',
 'sp500',
 'stocks',
 'udistrict',
 'unemployment',
 'unemployment_across_industries',
 'us_10m',
 'us_state_capitals',
 'weather',
 'weball26',
 'wheat',
 'world_110m',
 'zipcodes']

In [35]:
cars = data.cars()
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [36]:
%matplotlib inline

import pandas as pd
import ipywidgets as widgets
import inspect


def explore(df):
    if not isinstance(df, pd.core.frame.DataFrame):
        raise TypeError("I only accept pandas dataframes")
    options = [p for p in dir(df.plot) if not p.startswith("_")]
    
    #def get_help(name):
    #    help(getattr(df.plot, name))
    def plot(name):
        #df.plot(kind=name)
        print (inspect.signature(df.plot))
        print (inspect.signature(getattr(df.plot, name)))
        wigets.interact
    
    widgets.interact(
        plot, 
        name=widgets.Dropdown(
            options=options,
            value=options[0],
            description='plot:')
    )
    headers = list(df)
    widgets.interact
    
[g for g in dir(cars.plot) if not g.startswith("_")]

['area',
 'bar',
 'barh',
 'box',
 'density',
 'hexbin',
 'hist',
 'kde',
 'line',
 'pie',
 'scatter']

In [37]:
explore(cars)

interactive(children=(Dropdown(description='plot:', options=('area', 'bar', 'barh', 'box', 'density', 'hexbin'â€¦