In [1]:
%matplotlib inline

import pandas as pd
import ipywidgets as widgets
import inspect
from vega_datasets import data
cars = data.cars()

/home/cduquesne/code/perso/data-science-exercises/venv/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def explore_kind(df, kind):
    method = getattr(df.plot, kind)
    params = inspect.signature(df.plot).parameters
    params_method = inspect.signature(method).parameters
    print(params_method)
    d = {
        'x': list(df),
        'y': list(df),
    }
    @widgets.interact(**d)
    def f(**kwargs):
        method(**kwargs)
    

def explore(df):
    if not isinstance(df, pd.core.frame.DataFrame):
        raise TypeError("I only accept pandas dataframes")

    plottypes = [p for p in dir(df.plot) if not p.startswith("_")]
    @widgets.interact(kind=plottypes)
    def f(kind):
        explore_kind(df, kind)
    

explore(cars)

interactive(children=(Dropdown(description='kind', options=('area', 'bar', 'barh', 'box', 'density', 'hexbin',â€¦

In [7]:
def plot_types():
    return [p for p in dir(pd.DataFrame().plot) if not p.startswith("_")]

class UI(object):
    def __init__(self, dataframe):
        self.df = dataframe
        self.ui = widgets.VBox()
        self.graph_features = dict()
        self.features = {
            "x": "string",
            "y": "string",
            "subplots": "bool",
            "sharex": "bool",
            "sharey": "bool",
            "layout": "pair",
            "figsize": "pair",
            "use_index": "bool",
            "title": "string",
            "grid": "bool",
            "legend": "bool",
            "style",
            "logx": "bool",
            "logy": "bool",
            "loglog": "bool",
            "xticks",
            "yticks",
            "xlim": "pair",
            "ylim": "pai,
            "rot",
            "fontsize",
            "colormap",
            "table",
            "yerr",
            "xerr",
            "secondary_y",
            "sort_columns"
        }

        
    def add_feature_selector(self, feature):
        self.graph_features[feature] = None
        self.manage_features()
        
    def redraw(self):
        for feature, chooser in self.graph_features.items():
            if chooser is None:
                hbox = 
            
    
    def plot(self, kwargs):
        
        method = getattr(self.df.plot, self.graph_type)

In [5]:
import seaborn as sns
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01